/node_modules
/out
*.tsbuildinfo
*.vsix
logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*
*.log.*.[0-9]
.DS_Store
._*
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/coverage
/reports
junit.xml
.env
.env.*
!.env.example